/* Globalne style */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc; /* Jasny szary background */
    color: #333; /* Ciemny tekst */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  /* Kontener formularza */
  .form-container {
    background-color: #2C3E50; /* Granatowe tło formularza */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  /* Nagłówek formularza */
  h1 {
    color: #ecf0f1; /* Jasny tekst na nagłówku */
    text-align: center;
    margin-bottom: 20px;
  }

  /* Pola formularza */
  label {
    color: #ecf0f1;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }

  input[type="email"], button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  /* Styl dla inputów */
  input[type="email"] {
    background-color: #34495E; /* Granatowe tło dla inputów */
    color: #ecf0f1;
  }

  /* Styl dla przycisku submit */
  button[type="submit"] {
    background-color: #1ABC9C; /* Jasny akcent - zielony */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #16A085; /* Mroczniejszy zielony przy hover */
  }

  /* Styl dla reCAPTCHA */
  .g-recaptcha {
    margin-bottom: 20px;
  }

  /* Stylizacja dla ogólnych komunikatów */
  .error-message {
    color: #E74C3C; /* Czerwony tekst błędu */
    font-size: 14px;
    margin-top: 10px;
  }

  /* Stylizacja dla przycisku reCAPTCHA */
  .g-recaptcha iframe {
    transform: scale(0.9);
    transform-origin: 0 0;
  }